section {
    background-color: #FFF9C4;
    display: inline-block;
    padding: .5em 0 1.5em 0;
}
h2 {
    background-color: #E53935;
    box-sizing: border-box;
    padding: .3em;
    margin-bottom: .5em;
    border-radius: 5px;
    border: solid 1px black;
}
figcaption {
    font-size: 1.25em;
    font-weight: bold;
}
section, img {
    vertical-align: top;
    border-radius: 5px;
    border: solid 1px black;
    margin-right: 1em;
}
img {
    width: auto;
}
ul {
    padding-left: 25px;
}
ol {
    padding-left: 20px;
}
li {
    font-size: 1.25em;
}
footer {
    font-size: 1.25em;
    padding: 1em;
}